<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Events</title>
</head>
<body>
    <h1>EVENT SCHEDULER</h1>
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <label for="Eventname"><b>Event Name:</b></label><br>
        <input type="text" id="Eventname" name="Eventname"><br><br>
        
        <label for="EventDate"><b>Event Date:</b></label><br>
        <input type="date" id="EventDate" name="EventDate"><br><br>
        
        <label for="EventTime"><b>Event Time:</b></label><br>
        <input type="time" id="EventTime" name="EventTime"><br><br>
        
        <label for="EventDescription"><b>Event Description:</b></label><br>
        <textarea id="EventDescription" name="EventDescription"></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
